<md-sidenav md-component-id="app-side-left" layout="column" class="md-whiteframe-z1">
    <md-toolbar layout="row" class="md-toolbar-tools md-hue-1">
        <md-button hide-gt-sm class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav('app-side-left')" style="margin-right: -8px;">
            <md-icon>menu</md-icon>
        </md-button>
        <h2 style="display: inline;">&nbsp;Gerenciar Site</h2>
    </md-toolbar>
    <!-- BEGIN LEFT SIDE NAVIGATION -->
    <md-content flex role="navigation">
        <ul class="docs-menu">
            <li class="parent-list-item">
            <md-list id="menu-mobile">
                <md-subheader>Cadastro</md-subheader>
                <md-list-item>
                    <a href="cadastrar-produto.html">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <i class="fa fa-cart-plus fa-2x"></i>
                            </div>
                            <div class="inset">Cadastrar Produto</div>
                        </md-item-content> 
                    </a>
                </md-list-item>
                <md-list-item>
                    <a href="cadastrar-usuario.html">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <i class="fa fa-user-plus fa-2x"></i>
                            </div>
                            <div class="inset">Cadastrar Usuário</div>
                        </md-item-content>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a href="cadastrar-local-entrega.html">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <img src="images/icon-add-local-entrega.png"/>
                            </div>
                            <div class="inset">Cadastrar Local de Entrega</div>
                        </md-item-content>
                    </a>
                </md-list-item>
            </md-list>
            </li>
        </ul>
    </md-content>
</md-sidenav>
<!-- END LEFT SIDE NAVIGATION -->
<div layout="column" layout-fill flex>
    <!-- BEGIN TOP TOOLBAR -->
    <md-toolbar layout="row" class="md-toolbar-tools md-hue-2" layout-align="left center" style="padding-right: 35px;">
        <md-button hide-gt-sm class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav('app-side-left')" style="margin-right: -8px;">
            <md-icon>menu</md-icon>
        </md-button>
        <!-- BEGIN LOGO BUTTON -->
        <md-button layout="row" class="md-toolbar-tools" layout-align="left center" href="#" style="width: 135px;">
            <md-tooltip>Ir para a página inicial</md-tooltip>
            <a href="index.html"><h2><span class="capitalize">Pineapple</span></h2></a>
        </md-button>

        <!-- START TOP NAVIGATION -->
        <div id="topNav" hide show-gt-sm layout="row">
            <md-menu-bar>
                <md-menu>
                    <md-button class="md-primary capitalize"><span class="md-alt-text">Página Inicial</span></md-button>
                </md-menu>
                <md-menu id="menu-desktop">
                    <button ng-click="$mdOpenMenu()">Cadastros</button>
                    <md-menu-content>
                        <a href="cadastrar-produto.html">
                            <md-menu-item class="md-indent">
                                <md-button>
                                    <span class="md-alt-text">Cadastrar Produto</span>
                                </md-button>
                            </md-menu-item>
                        </a>
                        <a href="cadastrar-usuario.html">
                            <md-menu-item class="md-indent">
                                <md-button>
                                    <span class="md-alt-text">Cadastrar Usuário</span>
                                </md-button>
                            </md-menu-item>
                        </a>
                        <a href="cadastrar-local-entrega.html">
                            <md-menu-item class="md-indent">
                                <md-button>
                                    <span class="md-alt-text">Cadastrar Local de Entrega</span>
                                </md-button>
                            </md-menu-item>
                        </a>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
        <span flex></span>
        <md-button
            class="md-icon-button"
            aria-label="Favorite"
            ng-click="ctrl.showToolbarMenu($event, ctrl.favorite)">
            <i class="material-icons">shopping_cart</i><span class="badge">{{qtdProdutosCarrinho}}</span>
        </md-button>

        <md-menu id="menu-desktop" md-position-mode="target-right target">
            <md-button
                class="md-icon-button nav-botao-mais"
                aria-label="More"
                ng-click="$mdOpenMenu()">
                <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content>
                <a href="#">
                    <md-menu-item class="md-indent">
                        <md-button>
                            <span class="md-alt-text"> &nbsp;Dashboard&nbsp; </span>
                        </md-button>
                    </md-menu-item>
                </a>
                <a href="#">
                    <md-menu-item class="md-indent">
                        <md-button>
                            <span class="md-alt-text"> &nbsp;Logout&nbsp; </span>
                        </md-button>
                    </md-menu-item>
                </a>
            </md-menu-content>
        </md-menu>
    </md-toolbar>
</div>